p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personList-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto; /* Add horizontal scrolling for small screens */
}

/* Style for the table header (thead) */
thead {
  background-color: #007bff;
  color: black;
}

/* Style for the table header cells (th) */
th {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

/* Style for the table rows (tr) */
tr {
  background-color: #f2f2f2;
}

/* Style for the table data cells (td) */
td {
  border: 1px solid black;
  padding: 10px;
}

/* Style for even rows (alternate row color) */
tr:nth-child(even) {
  background-color: #fff;
}

/* Style for buttons */
.save-btn,
.cancel-btn,
.edit-btn,
.delete-btn,
.home-btn {
  margin: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .personList-container {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .personList-container {
    padding: 5px;
  }

  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 6px;
  }
}
